<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Title</title>
  <script src="./js/vue@3.3.4.js"></script>
</head>
<body>

  <div id="app">
    <!-- 单选 -->
    <div class="address">
      <label for="address">
        <select id="address" name="" v-model="address">
          <option value="">请选择</option>
          <option value="上海">上海</option>
          <option value="北京">北京</option>
          <option value="广州">广州</option>
        </select>
      </label>
    </div>
    <h2>所属地区：{{address}}</h2>
    <!-- 多选 -->
    <div class="fruit">
      <label for="fruit">
        <select id="fruit" multiple name="" v-model="fruit">
          <option value="">请选择</option>
          <option value="苹果">苹果</option>
          <option value="香蕉">香蕉</option>
          <option value="草莓">草莓</option>
        </select>
      </label>
    </div>
    <h2>喜欢的水果：{{fruit}}</h2>
  </div>

  <script>
    const {createApp} = Vue

    // 创建 app
    const app = createApp({
      data() {
        return {
          address: '',
          fruit: []
        }
      },
      methods: {}
    })

    // 挂载 app
    app.mount('#app')
  </script>

</body>
</html>