<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Title</title>
  <script src="./js/vue@3.3.4.js"></script>
</head>
<body>

  <div id="app">
    <div class="fruit">
      <label for="fruit">
        <select id="fruit" multiple name="" v-model="fruit">
          <option :key="index" :value="fruit.value" v-for="(fruit,index) in allFruits">{{fruit.text}}</option>
        </select>
      </label>
    </div>
    <h2>喜欢的水果：{{fruit}}</h2>
  </div>

  <script>
    const {createApp} = Vue

    // 创建 app
    const app = createApp({
      data() {
        return {
          allFruits: [
            {value: '', text: '请选择'},
            {value: '苹果', text: '苹果'},
            {value: '香蕉', text: '香蕉'},
            {value: '草莓', text: '草莓'},
          ],
          fruit: []
        }
      },
      methods: {}
    })

    // 挂载 app
    app.mount('#app')
  </script>

</body>
</html>