:root {
    --primary-color: #ff9854;
}

:root:root {
    --van-search-label-color: #ff9854;
    --van-search-left-icon-color: #ff9854;
    --van-tabbar-item-active-color: #ff9854;
}

body {
    font-size: 14px;
}