/* 单行文本溢出处理 */
.text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 主题色 */
.tab-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  height: 50px;
  border-top: 1px solid #ddd;
}
.tab-bar .item {
  flex: 1;
  text-align: center;
}
.tab-bar .item a {
  display: block;
}
.tab-bar .item a img {
  width: 48px;
}
.download {
  display: flex;
  height: 16vw /* 60/3.75 */;
  border-bottom: 0.27vw /* 1/3.75 */ solid #ddd;
}
.download .left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 2.67vw /* 10/3.75 */;
  flex: 1;
}
.download .left .logo {
  width: 10.67vw /* 40/3.75 */;
  height: 10.67vw /* 40/3.75 */;
}
.download .left .logo img {
  width: 10.67vw /* 40/3.75 */;
}
.download .left .info {
  flex: 1;
  overflow: hidden;
  margin-left: 2.67vw /* 10/3.75 */;
}
.download .left .info .title {
  font-size: 3.73vw /* 14/3.75 */;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.download .left .info .desc {
  margin-top: 0.53vw /* 2/3.75 */;
  font-size: 3.2vw /* 12/3.75 */;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.download .right {
  width: 25.2vw /* 60/3.75 */;
  text-align: center;
  line-height: 16vw /* 60/3.75 */;
  background-image: linear-gradient(to right, #f81c16, #fe496d);
}
.download .right a {
  display: block;
  color: #fff;
  font-size: 4.27vw /* 16/3.75 */;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10.67vw /* 40/3.75 */;
}
.top-bar .search {
  position: relative;
  text-align: center;
  width: 74.67vw /* 280/3.75 */;
  height: 7.47vw /* 28/3.75 */;
  border: 1px solid #e31436;
  border-radius: 3.73vw /* 14/3.75 */;
}
.top-bar .search:before {
  position: absolute;
  left: 2.13vw /* 8/3.75 */;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: '';
  display: block;
  width: 3.2vw /* 12/3.75 */;
  height: 3.2vw /* 12/3.75 */;
  background: url("../assets/icon-search.png") no-repeat;
  background-size: 3.2vw /* 12/3.75 */ 3.2vw /* 12/3.75 */;
}
.top-bar .search input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 56.8vw /* 213/3.75 */;
  height: 6.93vw /* 26/3.75 */;
}
.top-bar .btn {
  width: 16vw /* 60/3.75 */;
  height: 7.47vw /* 28/3.75 */;
  color: #e31436;
  text-align: center;
  line-height: 7.47vw /* 28/3.75 */;
  border: 1px solid #e31436;
  border-radius: 0.13vw /* 0.5/3.75 */;
}
.top-bar .btn a {
  display: block;
  color: #e31436;
  font-size: 2.67vw /* 10/3.75 */;
}
.banner {
  background-color: #f3f3f3;
}
.banner .container .banner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw /* 375/3.75 */;
  height: 47.47vw /* 178/3.75 */;
}
.banner .container .banner-list .item {
  /* 隐藏其他的元素 */
}
.banner .container .banner-list .item:not(.item:first-child) {
  display: none;
}
.banner .container .banner-list .item a {
  display: block;
}
.banner .container .banner-list .item a img {
  width: 93.6vw /* 351/3.75 */;
  height: 47.2vw /* 177/3.75 */;
}
.nav {
  background-color: #f3f3f3;
}
.nav .container .nav-list {
  display: flex;
}
.nav .container .nav-list .item a {
  display: block;
}
.nav .container .nav-list .item a img {
  width: 20vw /* 75/3.75 */;
  height: 20.8vw /* 78/3.75 */;
}
.subsidy {
  padding: 3.2vw /* 12/3.75 */;
  background-color: #f3f3f3;
}
.subsidy .container {
  width: 93.6vw /* 351/3.75 */;
  height: 44vw /* 165/3.75 */;
  margin: 0 auto;
  border-radius: 3.2vw /* 12/3.75 */;
  padding: 1.6vw /* 6/3.75 */;
  background-color: #fff;
}
.subsidy .container .subsidy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.67vw /* 40/3.75 */;
}
.subsidy .container .subsidy-header .subsidy-header-left {
  display: flex;
}
.subsidy .container .subsidy-header .subsidy-header-left h2 {
  font-size: 4.27vw /* 16/3.75 */;
}
.subsidy .container .subsidy-header .subsidy-header-left h2 a {
  display: block;
}
.subsidy .container .subsidy-header .subsidy-header-left h2 a img {
  vertical-align: middle;
  width: 16.8vw /* 63/3.75 */;
  height: 4.27vw /* 16/3.75 */;
}
.subsidy .container .subsidy-header .subsidy-header-left .countdown {
  margin-left: 1.6vw /* 6/3.75 */;
}
.subsidy .container .subsidy-header .subsidy-header-left .countdown .time {
  width: 5.33vw /* 19.97/3.75 */;
  height: 4.27vw /* 16/3.75 */;
  font-size: 3.2vw;
  color: #fff;
  border-radius: 0.8vw;
  background-color: #e31436;
}
.subsidy .container .subsidy-header .subsidy-header-left .countdown span:not(.time) {
  color: #e31436;
}
.subsidy .container .subsidy-header .subsidy-header-right {
  padding-right: 2.4vw /* 9/3.75 */;
}
.subsidy .container .subsidy-header .subsidy-header-right a {
  position: relative;
  display: block;
  font-size: 3.2vw /* 12/3.75 */;
  color: #e31436;
}
.subsidy .container .subsidy-header .subsidy-header-right a:after {
  position: absolute;
  top: 1.6vw;
  right: -2.07vw /* -7.76/3.75 */;
  content: "";
  width: 1.2vw;
  height: 1.2vw;
  border-color: #e31436 #e31436 transparent transparent;
  border-style: solid;
  border-width: 0.26667vw;
  transform: rotate(45deg);
}
.subsidy .container .subsidy-content {
  display: flex;
}
.subsidy .container .subsidy-content .item {
  flex: 1;
}
.subsidy .container .subsidy-content .item a {
  display: block;
}
.subsidy .container .subsidy-content .item a img {
  width: 20.928vw /* 78.48/3.75 */;
  height: 78.48px /* 84.75/3.75 */;
}
.subsidy .container .subsidy-content .item a .price {
  text-align: center;
}
.subsidy .container .subsidy-content .item a .price .now-price {
  display: flex;
  font-size: 3.2vw /* 12/3.75 */;
  color: #e31436;
}
.subsidy .container .subsidy-content .item a .price .now-price .price-num {
  font-size: 3.73vw /* 14/3.75 */;
  font-weight: bold;
}
.subsidy .container .subsidy-content .item a .price .original-price {
  font-size: 3.2vw /* 12/3.75 */;
}
/*# sourceMappingURL=index.css.map */