* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

ul, li {
    list-style: none;
}

input, a {
    outline: none;
}

input {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    /* 父元素字号的百分比 */
    font-size: 100%;
    font-weight: normal;
}