<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Title</title>
  <script src="js/vue@3.3.4.js"></script>
</head>
<body>

  <div id="app">
    <div class="gender">
      <label for="male">
        <input id="male" name="gender" type="radio" v-model="gender" value="男"> 男
      </label>
      <label for="female">
        <input id="female" name="gender" type="radio" v-model="gender" value="女"> 女
      </label>
    </div>
    <h2>性别：{{gender}}</h2>
  </div>

  <script>
    const {createApp} = Vue

    // 创建 app
    const app = createApp({
      data() {
        return {
          gender: '女'
        }
      },
      methods: {}
    })

    // 挂载 app
    app.mount('#app')
  </script>

</body>
</html>