.container {
  width: 1100px;
  margin: 0 auto;
}
.sub-container {
  width: 982px;
  margin: 0 auto;
}
.top-bar {
  height: 70px;
  border: 1px solid #242424;
  background-color: #242424;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  line-height: 69px;
}
.top-bar .container h1 {
  width: 176px;
  background: url("../assets/topbar.png") no-repeat;
}
.top-bar .container h1 a {
  display: block;
  width: 100%;
  font-size: 0;
}
.top-bar .container .top-links {
  display: flex;
}
.top-bar .container .top-links .item {
  position: relative;
  display: block;
  padding: 0 19px;
  font-size: 14px;
  color: #ccc;
}
.top-bar .container .top-links .item:hover {
  background-color: #000;
  color: #fff;
}
.top-bar .container .top-links .active {
  background-color: #000;
  color: #fff;
}
.top-bar .container .top-links .active::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 7px;
  background: url("../assets/topbar.png") -226px 0;
  left: 0;
  right: 0;
  bottom: -1px;
  margin: 0 auto;
}
.top-bar .container .top-links .hot::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 13px;
  background: url("../assets/topbar.png") -192px 0;
  top: 16px;
  right: -10px;
}
.top-bar .container .top-bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .container .top-bar-nav .search {
  position: relative;
  width: 158px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  background-color: #fff;
}
.top-bar .container .top-bar-nav .search .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 14px;
  height: 14px;
  background: url("../assets/topbar.png") no-repeat -10px -108px;
}
.top-bar .container .top-bar-nav .search input {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  height: 32px;
  line-height: 32px;
  text-indent: 2em;
  background-color: transparent;
}
.top-bar .container .top-bar-nav .login-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .container .top-bar-nav .login-nav a {
  color: #ccc;
}
.top-bar .container .top-bar-nav .login-nav a:hover {
  color: #fff;
}
.top-bar .container .top-bar-nav .login-nav a:first-child {
  display: block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #fff;
  margin: 0 10px;
}
.top-nav {
  height: 35px;
  line-height: 35px;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
}
.top-nav .container ul {
  display: flex;
  padding-left: 202px;
}
.top-nav .container ul li .item {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 7px 17px 0;
  padding: 0 13px;
  border-radius: 20px;
  color: #fff;
}
.top-nav .container ul li .item:hover {
  background-color: #9b0909;
}
.top-nav .container ul li .active {
  background-color: #9b0909;
}
.banner {
  height: 285px;
  background-color: pink;
}
.banner .sub-container {
  display: flex;
}
.banner .sub-container .banner-img {
  position: relative;
  width: 730px;
  overflow: hidden;
}
.banner .sub-container .banner-img .banner-img-list {
  display: flex;
}
.banner .sub-container .banner-img .banner-img-list img {
  display: block;
  width: 730px;
}
.banner .sub-container .banner-img .dotted {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 210px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .sub-container .banner-img .dotted .item {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.banner .sub-container .banner-img .dotted .item:hover {
  background-color: #cb0c0c;
}
.banner .sub-container .banner-img .dotted .active {
  background-color: #cb0c0c;
}
.banner .sub-container .banner-nav {
  width: 254px;
  background-color: red;
}
/*# sourceMappingURL=index.css.map */