.top-bar-container {
  width: 990px;
  margin: 0 auto;
}
.top-bar {
  border-bottom: 1px solid #f5f5f5;
}
.top-bar .top-bar-container {
  display: flex;
  justify-content: space-between;
  height: 41px;
  line-height: 41px;
}
.top-bar .top-bar-container .left {
  display: flex;
}
.top-bar .top-bar-container .left .logo a {
  display: block;
  width: 150px;
  height: 41px;
  text-indent: -9999px;
  background: url("../assets/top_bar_logo.png") no-repeat center;
}
.top-bar .top-bar-container .left .recommend img {
  display: block;
}
.top-bar .top-bar-container .right {
  display: flex;
}
.top-bar .top-bar-container .right .grow,
.top-bar .top-bar-container .right .ranking {
  font-size: 14px;
  color: #464646;
}
.top-bar .top-bar-container .right .grow:hover,
.top-bar .top-bar-container .right .ranking:hover {
  color: #DD302D;
}
.top-bar .top-bar-container .right .grow {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}
.top-bar .top-bar-container .right .grow::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../assets/top_bar_sprite.png') -30px 0;
}
.top-bar .top-bar-container .right .ranking {
  position: relative;
  padding-right: 30px;
}
.top-bar .top-bar-container .right .ranking::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../assets/top_bar_sprite.png') 0 0;
  opacity: 0.5;
  transform: rotate(90deg);
}
.top-nav-container {
  width: 1300px;
  margin: 0 auto;
}
.top-nav {
  background-color: rgba(0, 0, 0, 0.8);
}
.top-nav .top-nav-container {
  display: flex;
  justify-content: space-between;
  height: 84px;
}
.top-nav .top-nav-container .left {
  display: flex;
}
.top-nav .top-nav-container .left .logo a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 200px;
  height: 54px;
  text-indent: -9999px;
  background: url("../assets/top_nav_logo.png") no-repeat;
}
.top-nav .top-nav-container .left .top-nav-links {
  display: flex;
  margin-left: 30px;
}
.top-nav .top-nav-container .left .top-nav-links .item a {
  padding-top: 20px;
  display: block;
  width: 110px;
  height: 84px;
  font-size: 18px;
  color: #c9c9dd;
  text-align: center;
}
.top-nav .top-nav-container .left .top-nav-links .item a:hover {
  border-bottom: 2px solid #f3c258;
  color: #f3c258;
  background-image: linear-gradient(#0c0b06, #f3c258);
}
.top-nav .top-nav-container .left .top-nav-links .item a:hover .desc {
  color: #f3c258;
}
.top-nav .top-nav-container .left .top-nav-links .item a .desc {
  display: block;
  padding-top: 4px;
  font-size: 12px;
  color: #858792;
}
.top-nav .top-nav-container .right {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.top-nav .top-nav-container .right .avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #f3c258;
}
.top-nav .top-nav-container .right .user-login {
  margin-left: 8px;
}
.top-nav .top-nav-container .right .user-login a {
  font-size: 16px;
  color: #fff;
}
.top-nav .top-nav-container .right .user-login p {
  font-size: 14px;
  color: #858792;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.main .container {
  display: flex;
  height: 342px;
}
.main .container .banner {
  width: 605px;
}
.main .container .banner .banner-img-list {
  display: flex;
  height: 298px;
  overflow: hidden;
}
.main .container .banner .dotted {
  display: flex;
  line-height: 44px;
  justify-content: space-evenly;
}
.main .container .banner .dotted .item {
  flex: 1;
}
.main .container .banner .dotted .item a {
  color: #b1b2be;
  display: block;
  text-align: center;
  background-color: #000;
}
.main .container .banner .dotted .item a:hover {
  color: #f3c258;
  background-color: #262626;
}
.main .container .news {
  flex: 1;
  /* 单行文本溢出处理 */
  overflow: hidden;
  padding: 0 17px;
  background-color: #282a2c;
  color: #fff;
}
.main .container .news .news-classify {
  display: flex;
  justify-content: space-between;
  height: 45px;
  line-height: 42px;
  border-bottom: 3px solid #000;
}
.main .container .news .news-classify .active a {
  border-bottom: 3px solid #f3c258;
}
.main .container .news .news-classify .item a {
  color: #fff;
}
.main .container .news .news-classify .item:not(.more) a {
  display: block;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
}
.main .container .news .news-classify .item:not(.more) a:hover {
  color: #f3c258;
  border-bottom: 3px solid #f3c258;
}
.main .container .news .notice {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  margin: 18px 0;
  background-color: #414046;
}
.main .container .news .notice a {
  display: block;
  font-size: 18px;
  color: #f3c258;
  /* 单行文本溢出处理 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main .container .other {
  width: 236px;
  background-color: skyblue;
}
.main .container .other a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../assets/main_news_sprite.png") no-repeat;
}
.main .container .other .download_btn {
  width: 236px;
  height: 128px;
  background-position: 0 -219px;
}
.main .container .other .env_btn {
  width: 236px;
  height: 106px;
  background-position: 0 -350px;
}
.main .container .other .experience_btn {
  width: 236px;
  height: 108px;
  background-position: 0 -461px;
}
/*# sourceMappingURL=index.css.map */