.header .top-bar {
  height: 70px;
  background: #242424;
  border-bottom: 1px solid #000;
}
.header .top-bar .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  line-height: 69px;
}
.header .top-bar .wrapper .left {
  display: flex;
}
.header .top-bar .wrapper .left .logo {
  width: 177px;
  height: 69px;
}
.header .top-bar .wrapper .left .logo a {
  display: block;
  background: url("../images/topbar.png") no-repeat 0 0;
  text-indent: -9999px;
}
.header .top-bar .wrapper .left .list {
  display: flex;
}
.header .top-bar .wrapper .left .list .item {
  position: relative;
  padding: 0 19px;
  display: block;
  color: #ccc;
  font-size: 14px;
}
.header .top-bar .wrapper .left .list .item:hover {
  color: #fff;
  background-color: #000;
}
.header .top-bar .wrapper .left .list .active {
  color: #fff;
  background-color: #000;
}
.header .top-bar .wrapper .left .list .active::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 7px;
  background: url("../images/topbar.png") no-repeat -226px 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.header .top-bar .wrapper .left .list .download::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 19px;
  background: url("../images/topbar.png") no-repeat -190px 0;
  top: 21px;
  left: 100px;
}
.header .top-bar .wrapper .right {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #787878;
}
.header .top-bar .wrapper .right .search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 158px;
  height: 32px;
  padding-right: 10px;
  border-radius: 32px;
  background: #fff url("../images/topbar.png") 0 -99px no-repeat;
}
.header .top-bar .wrapper .right .search input {
  width: 118px;
}
.header .top-bar .wrapper .right .search input::placeholder {
  color: #9b9b9b;
  font-size: 12px;
}
.header .top-bar .wrapper .right .author {
  margin: 0 20px;
}
.header .top-bar .wrapper .right .author a {
  display: inline-block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  color: #ccc;
  border: 1px solid #4F4F4F;
  border-radius: 20px;
  text-align: center;
}
.header .top-bar .wrapper .right .author a:hover {
  border: 1px solid #fff;
  color: #fff;
}
.header .top-bar .wrapper .right .login a {
  color: #787878;
}
.header .top-bar .wrapper .right .login a:hover {
  color: #fff;
}
.header .top-nav {
  height: 35px;
  line-height: 35px;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
  color: #fff;
}
.header .top-nav .wrapper {
  margin: 0 auto;
  width: 1100px;
}
.header .top-nav .wrapper .list {
  padding-left: 180px;
  display: flex;
}
.header .top-nav .wrapper .list .item {
  font-size: 12px;
  color: #fff;
  padding: 0 13px;
  margin: 0 17px;
  border-radius: 20px;
}
.header .top-nav .wrapper .list .item:hover {
  background-color: #9B0909;
}
.header .top-nav .wrapper .list .active {
  background-color: #9B0909;
}
.banner {
  height: 285px;
  background: url("../images/banner-bg.jpg") no-repeat center center;
  background-size: 6000px;
}
.banner .wrapper {
  display: flex;
  width: 982px;
  height: 285px;
  margin: 0 auto;
  background-color: pink;
}
.banner .wrapper .left .list {
  display: flex;
  width: 730px;
  overflow: hidden;
}
.banner .wrapper .left .list li {
  flex-shrink: 0;
  width: 100%;
}
.banner .wrapper .left .list .item {
  display: block;
}
.banner .wrapper .left .list .item img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */